<div class="d-flex align-items-center" [style.height.px]="hauteur" style="overflow: hidden;">
  <img #image (error)="sourcer(image)" width="100%" src="{{collegue.urlImage}}"
    alt="image">
</div>

<div class="carousel-caption">
  <p class="custom-score" [innerHTML]="collegue.score | score"></p> 
  <p class="custom-pseudo">
    <a class="text-white" routerLink="/detail/{{collegue.pseudo}}">
      {{collegue.pseudo | uppercase }}</a>
    <button type="button" [disabled]="inactif" (click)="supprimer()" class="btn btn-outline-warning" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <button type="button" [disabled]="inactif" (click)="jaime()" class="btn btn-primary btn-lg">J'aime</button>
  <button type="button" [disabled]="inactif" (click)="jedeteste()" class="btn btn-danger btn-lg">Je déteste</button>
</div>