<div class="row bg-light">
  <app-banniere class=col-12></app-banniere>
  <app-formulaire-ajout class=col-12 (ajout)=add($event)></app-formulaire-ajout>
</div>
<div class="row">
  <app-choix-affichage class="col-12 mb-3 mt-3"></app-choix-affichage>
</div>




<div class="row">


  <ngb-carousel class="mx-auto mb-3">
    <div *ngFor="let collegue of collegues">
      <ng-template ngbSlide >
        <app-slide-collegue  [collegue]=collegue (suppr)=supprimer($event) (majScore)="trierCollegues()"></app-slide-collegue>
      </ng-template>
    </div>

  </ngb-carousel>


</div>



<!-- *ngFor="let col of collegues"  [collegue]="col" (suppr)=supprimer($event) (majScore)="trierCollegues() -->