<div class="card">
  <div class="d-flex flex-row-reverse">
    <button type="button" (click)="supprimer()" class="close position-absolute " aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="d-flex align-items-center" [style.height.px]="hauteurImage*3/4" style="overflow: hidden;">
    <img #image (window:resize)="tailler(image)" (load)="tailler(image)" (error)="sourcer(image)" class="card-img-top" src="{{collegue.urlImage}}"
      alt="Card image cap">
  </div>

  <div class="card-body text-center">
    <h4 class="card-title">
      <strong>{{collegue.pseudo}}</strong>
    </h4>
    <p class="card-text lead">
      <strong>{{collegue.score}}</strong>
    </p>
    <button type="button" (click)="jaime()" class="btn btn-outline-primary">J'aime</button>
    <button type="button" (click)="jedeteste()" class="btn btn-outline-danger">Je déteste</button>
  </div>
</div>