<div class="container-fluid">
  <app-notification-bar></app-notification-bar>

  <div class="row bg-light">
    <app-banniere class=col-12></app-banniere>
    <app-formulaire-ajout *ngIf="formulaireAffiche" class=col-12></app-formulaire-ajout>
  </div>



  <div class="row">
    <app-choix-affichage class="mb-4 mt-4"></app-choix-affichage>
  </div>

  <hr>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div id="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <app-votre-dernier-avis></app-votre-dernier-avis>
        </div>
        <div class="col-12">
          <app-historique></app-historique>
        </div>
      </div>
    </div>
  </div>
</div>