<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Limite</span>
      </div>
      <input #limite (input)="nouvelleLimite(limite)" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Filtre par pseudo</span>
      </div>
      <input #pseudoInput (input)="nouvelleRecherche(pseudoInput)" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table id="tableauCollegue" class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Pseudo</th>
          <th scope="col">Score</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr app-ligne-collegue *ngFor="let col of collegues | pseudo:beginPseudo | slice:0:nbMax" [collegue]="col" (suppr)="supprimer($event)"></tr>
      </tbody>
    </table>
  </div>
</div>