<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Limite</span>
      </div>
      <input #limite (input)="nouvelleLimite(limite)" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Filtre par pseudo</span>
      </div>
      <input #pseudoInput (input)="nouvelleRecherche(pseudoInput)" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3" #divCarousel>
    <ngb-carousel>
      <div *ngFor="let collegue of collegues  | pseudo:beginPseudo | slice:0:nbMax">
        <ng-template ngbSlide>
          <app-slide-collegue [hauteur]="hauteur" [collegue]=collegue (suppr)="supprimer($event)"></app-slide-collegue>
        </ng-template>
      </div>
    </ngb-carousel>
  </div>
</div>