<form >
  <div class="modal-header">
    <h4 class="modal-title">Votre avis</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="commentaire">Que pensez vous de {{commentaire.collegue.pseudo}} ?</label>
      <textarea [(ngModel)]="commentaire.message" name="message" #messageAvis="ngModel" required minlength="10" class="form-control"
        id="commentaire" rows="3" [class.is-invalid]="commentaire.message.length > 255"></textarea>
      <small class="form-text text-muted">
        Veuillez saisir votre avis avec un minimum de 10 caractères et un maximum de 255 caractères
      </small>
      <div class="invalid-feedback">
        Veuillez saisir moins de 255 caractères
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Annuler</button>
    <button type="submit" [disabled]="messageAvis.invalid || commentaire.message.length > 255" class="btn btn-outline-primary" (click)="commenter()">Enregistrer</button>
  </div>
</form>