<div class="card">
  <div class="d-flex flex-row-reverse">
    <button type="button" [disabled]="inactif" (click)="supprimer()" class="btn btn-sm btn-outline-warning position-absolute mr-1 mt-1"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <a routerLink="/detail/{{collegue.pseudo}}">
    <div class="d-flex align-items-center" [style.height.px]="hauteurImage*9/16" style="overflow: hidden;">
      <img #image (window:resize)="tailler(image)" (load)="tailler(image)" (error)="sourcer(image)" class="card-img-top" src="{{collegue.urlImage}}"
        alt="Card image cap">
    </div>
  </a>

  <div class="card-body text-center">
    <h4 class="card-title">
      <strong>{{collegue.pseudo | uppercase}}</strong>
    </h4>
    <h3 [innerHTML]="collegue.score | score">
    </h3>
    <div class="row">
      <div class="col">
        <button type="button" [disabled]="inactif" (click)="jaime()" class="btn btn-outline-primary mb-1">J'aime</button>
        <button type="button" [disabled]="inactif" (click)="jedeteste()" class="btn btn-outline-danger mb-1">Je déteste</button>
        <button type="button" [disabled]="inactif" (click)="commentaireModal()" class="btn btn-outline-success mb-1">Rédiger un commentaire</button>
    </div>
  </div>
</div>